
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1e1f22;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content {
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 2px 0px;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.text {
    text-align: right;
}

.text h1 {
    font-weight: 300;
    font-size: 3rem;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    background-color: #2b2d31;
    padding: 10px;
    width: 75%;
    margin-bottom: 5px;
    border-radius: 4px;
}

.list p {
    font-size: 16px;
    padding: 5px 5px;
    border-radius: 4px;
}

.list p img {
    width: 24px;
    margin:0px 4px -4px 0px;
    filter: grayscale(1);
}

.list p:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.list h1 {
    font-weight: 300;
}

.list h2 {
    font-weight: 400;
    font-size: 27px;
}

.mobile .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.mobile .list {
    width: 95%;
}

.mobile .list p {
    display: grid;
    justify-items: center;
    padding: 10px 0px;
}

.mobile .list p img {
    width: 40px;
    padding: 10px 0px;
}

@media screen and (max-width: 286px) {
    .mobile .logo h1{
        font-size: 43px;
    }
    .mobile .logo p::before{
        right: 48px;
    }
}

.preview {
    background: #1e1f22;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.selected {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
}

