@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Source+Sans+Pro&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('https://dl.malwarewatch.org/theme/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;
}

.content {
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
}

hr {
    border: 1px solid #444;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.text {
    text-align: right;
}

.text h1 {
    font-weight: 300;
    font-size: 3rem;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 75%;
    margin-bottom: 5px;
    border-radius: 7px;
}

.list p {
    font-size: 16px;
    transition: background-color ease-in 200ms;
    padding: 5px 0;
}

.list p img {
    width: 24px;
    margin:0px 4px -4px 0px
}

.list p:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    text-decoration: underline;
}

.list h1 {
    font-weight: 300;
}

.list h2 {
    font-weight: 400;
    font-size: 27px;
}

.mobile .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.mobile .list {
    width: 95%;
}

.mobile .list p {
    display: grid;
    justify-items: center;
    padding: 10px 0px;
}

.mobile .list p img {
    width: 40px;
    padding: 10px 0px;
}

@media screen and (max-width: 286px) {
    .mobile .logo h1{
        font-size: 43px;
    }
    .mobile .logo p::before{
        right: 48px;
    }
}

.preview {
    background: url('https://dl.malwarewatch.org/theme/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.selected {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

