* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(145deg, rgba(20,116,13,1) 49%, rgba(33,173,23,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Segoe UI', sans-serif;
}

.content {
    width: 100%;
    height: 100%;
    color: white;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}


.text {
    text-align: right;
}

.text h1 {
    font-weight: 300;
    font-size: 3rem;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 5px;
    width: 75%;
    margin-bottom: 5px;
}

.list p {
    font-size: 24px;
}

.list p:hover {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

.list h1 {
    font-weight: 300;
}

.list h2 {
    font-weight: 400;
    font-size: 27px;
}

.mobile .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.mobile .list {
    width: 95%;
}

.mobile .list p {
    display: grid;
    justify-items: center;
    padding: 10px 0px;
}

.mobile .list p img {
    width: 40px;
    padding: 10px 0px;
}

@media screen and (max-width: 286px) {
    .mobile .logo h1{
        font-size: 43px;
    }
    .mobile .logo p::before{
        right: 48px;
    }
}

.preview {
    background: linear-gradient(145deg, rgba(20,116,13,1) 49%, rgba(33,173,23,1) 100%);
    background-size: cover;
}

.selected {
    background-color: rgba(255, 255, 255, 0.514);
}